{% extends 'layout.twig' %}

{% set module = 'Author Analyzer' %}
{% set nav = 'other_analyzers_author' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
    <li class="active"><a href="{{ url('aa') }}">{{ module }}</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-user"></i> {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    The Author Analyzer allows you to quickly inspect other authors and their
    books. This section is great for "reverse engineering" their publishing
    techniques. You may also open authors directly in this tool by clicking on
    their names in
    other tools.
</p>
<div
    data-error-1-middle="<p>Please enter a valid keyword.</p>"
    data-error-1-top="Error #1"
    data-error-2-middle="<p>An unknown error has occurred. Please try again.</p>"
    data-error-2-top="Error #2"
    data-url-author="{{ url('aa_author') }}"
    data-url-authors="{{ url('aa_authors') }}"
    data-url="{{ url }}"
    id="aa"
    ng-controller="aa"
    >
    <form name="form" ng-submit="get_authors()">
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="keyword">
                        Author's name
                    </label>
                    <input
                        class="form-control"
                        id="keyword"
                        placeholder="Enter a name"
                        type="text"
                        value=""
                        ng-model="keyword"
                        >
                </div>
                <div class="text-right">
                    <button class="btn btn-danger" type="reset">
                        <span class="fa fa-fw fa-trash fa-lg"></span>
                        Reset
                    </button>
                    <button class="btn btn-success" type="submit">
                        <span class="fa fa-fw fa-thumbs-up fa-lg"></span>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
    <p class="text-center hide [! authors.spinner == true && 'show' || 'hide' !]">
        <span class="fa fa-fw fa-spinner fa-spin fa-2x"></span>
    </p>
    <div class="hide [! authors.contents.length > 0 && 'show' || 'hide' !]">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <th>Name</th>
                <th class="small">URL</th>
            </thead>
            <tbody>
                <tr ng-repeat="author in authors.contents">
                    <td>
                        <a ng-click="get_author(author.url)">
                            [! author.name !]
                        </a>
                    </td>
                    <td class="small">
                        <a
                            href="[! author.url !]"
                            rel="noreferrer"
                            target="_blank"
                            >[! author.url !]</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="scroll">
        <p class="text-center hide [! author.spinner == true && 'show' || 'hide' !]">
            <span class="fa fa-fw fa-spinner fa-spin fa-2x"></span>
        </p>
    </div>
    <div class="hide [! author.contents != '' && 'show' || 'hide' !]">
        <div class="page-header">
            <div class="row">
                <h1 class="col-xs-12">[! author.contents.name !]</h1>
            </div>
        </div>
        <div class="clearfix">
            <img
                class="img-polaroid pull-left"
                ng-show="author.contents.photo.length > 0"
                src="[! author.contents.photo !]"
                >
            <p ng-show="author.contents.description.length > 0">
                [! author.contents.description !]
            </p>
            <p>
                Estimated earnings per month:
                $[! author.contents.earnings_per_month|number:2 !]
            </p>
            <img
                class="img-polaroid pull-left"
                ng-show="author.contents.twitter.profile_image_url.length > 0"
                src="[! author.contents.twitter.profile_image_url !]"
                >
            <p ng-show="author.contents.twitter.screen_name.length > 0">
                <a
                    href="http://twitter.com/[! author.contents.twitter.screen_name !]"
                    rel="noreferrer"
                    target="_blank"
                    >@[! author.contents.twitter.screen_name !]</a>
            </p>
            <p ng-show="author.contents.twitter.tweet.length > 0">
                [! author.contents.twitter.tweet !]
            </p>
        </div>
        <ul
            class="clearfix"
            ng-show="author.contents.amazon_rank != {}"
            >
            <li ng-repeat="(key, value) in author.contents.amazon_rank">
                <strong>#[! value|number:0 !]</strong> in [! key !]
            </li>
        </ul>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <th>Title</th>
                <th class="narrow text-right">Publication Date</th>
                <th class="narrow text-right">Price (in $)</th>
                <th class="narrow text-right">Print Length</th>
                <th class="narrow text-right">Reviews</th>
                <th class="narrow text-right">Review Average</th>
                <th class="narrow text-right">Daily Revenue</th>
                <th class="narrow text-right">Amazon BSR</th>
            </thead>
            <tbody>
                <tr ng-repeat="book in author.contents.books|orderBy:'publication_date':true">
                    <td>
                        <a
                            class="pull-right"
                            href="[! book.url !]"
                            rel="noreferrer"
                            target="_blank"
                            ><i class="fa fa-fw fa-external-link"></i></a>
                        <a
                            href="{{ url('ba') }}?url=[! book.url|encodeUri !]"
                            target="_blank"
                            >[! book.title !]</a>
                    </td>
                    <td class="narrow text-right">
                        [! book.publication_date !]
                    </td>
                    <td class="narrow text-right">
                        [! book.price|number:2 !]
                    </td>
                    <td class="narrow text-right">
                        [! book.print_length|number:0 !]
                    </td>
                    <td class="narrow text-right">
                        [! book.total_number_of_reviews|number:0 !]
                    </td>
                    <td class="narrow text-right">
                        [! book.review_average|number:2 !]
                    </td>
                    <td class="narrow text-right">
                        [! book.earnings_per_day|number:2 !]
                    </td>
                    <td class="narrow text-right">
                        <span ng-show="book.amazon_best_sellers_rank['Paid in Kindle Store']">
                            [! book.amazon_best_sellers_rank['Paid in Kindle Store']|number:0 !]
                        </span>
                        <span ng-show="!book.amazon_best_sellers_rank['Paid in Kindle Store']">
                            N/A
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
