{% extends 'layout.twig' %}

{% set module = 'Keywords Suggester' %}
{% set nav = 'keywords_suggester' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
    <li class="active"><a href="{{ url('aks') }}">{{ module }}</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <div
                class="btn btn-primary pull-right qsg"
                data-target="#aks-qsg"
                data-toggle="modal"
                >
                <span class="fa fa-fw fa-info-sign"></span>
                Information
            </div>
            <i class="fa fa-fw fa-list"></i> {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    To begin, simply enter one or more keywords (one per line) and then press
    Submit. The Suggester will return results as they become available and then
    display them on the right. To combine keywords you may switch the Mode from
    "Suggest" to "Combine". This process looks for suggestions containing two
    or more keywords in your list and displays only those results. It's best to
    use single word entries for this mode, and not long-tail keywords.
</p>
<div
    id="aks"
    data-error-1-top="Error #1"
    data-error-1-middle="<p>Please enter a valid phrase.</p>"
    data-error-2-top="Error #2"
    data-error-2-middle="<p>Multiple word entries have been temporarily disabled for advanced searches. We are upgrading our infrastructure to accommodate these highly resource intensive queries and hope to restore this in the coming weeks. Thank you for your patience while we work hard to deliver exciting new features and the performance you've come to expect from us all at the same time.</p>"
    data-error-3-top="Error #3"
    data-error-3-middle="<p>An unknown error has occurred. Please try again.</p>"
    data-keywords="{{ keywords }}"
    data-mode="{{ mode }}"
    data-url-download="{{ url('aks_download') }}"
    data-url-xhr="{{ url('aks_xhr') }}"
    ng-controller="aks"
    >
    <div class="row">
        <div class="col-xs-6">
            <form accept-charset="UTF-8" ng-submit="submit()">
                <div class="panel">
                    <div class="panel-body">
                        <div ng-show="!spinner">
                            <div class="form-group">
                                <label class="control-label" for="keywords">
                                    Keywords
                                </label>
                                <textarea
                                    class="form-control col-xs-12"
                                    id="keywords"
                                    ng-focus="focus['keywords']"
                                    ng-model="keywords"
                                    ng-on-blur="focus['keywords'] = false"
                                    ></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="country">
                                    Country
                                </label>
                                <select
                                    class="form-control col-xs-12"
                                    id="country"
                                    ng-model="country"
                                    >
                                    {% for key, value in countries %}
                                        <option value="{{ key }}">
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="mode">
                                    Mode
                                </label>
                                <select
                                    class="form-control col-xs-12"
                                    id="mode"
                                    ng-model="mode"
                                    ng-options="mode for mode in modes"
                                    ></select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="search_alias">
                                    Department
                                </label>
                                <select
                                    class="form-control col-xs-12"
                                    id="search_alias"
                                    ng-model="search_alias"
                                    >
                                    {% for key, value in search_aliases %}
                                        <option value="{{ key }}">
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" class="checkbox">
                                    <input
                                        type="checkbox"
                                        ng-model="checkbox"
                                        > Automatically download on completion
                                </label>
                            </div>
                        </div>
                        <table
                            class="table table-bordered table-hover table-striped"
                            ng-show="spinner"
                            >
                            <thead>
                                <tr>
                                    <th>Keyword</th>
                                    <th class="narrow text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rows">
                                    <td>[! row !]</td>
                                    <td class="narrow text-center">
                                        <span
                                            class="fa fa-fw fa-remove-sign"
                                            ng-show="statuses[row] == -1"
                                            ></span>
                                        <span
                                            class="fa fa-fw fa-spinner icon-spin"
                                            ng-show="statuses[row] == 0"
                                            ></span>
                                        <span
                                            class="fa fa-fw fa-ok-sign"
                                            ng-show="statuses[row] == 1"
                                            ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                            <button
                                class="btn btn-success pull-right"
                                type="submit"
                                ng-show="!spinner"
                                >
                                <span class="fa fa-fw fa-info-sign fa-lg"></span>
                                Submit
                            </button>
                            <button
                                class="btn btn-danger pull-right"
                                ng-click="reset()"
                                ng-show="spinner"
                                type="button"
                                >
                                <span class="fa fa-fw fa-trash fa-lg"></span>
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-6 hide [! suggestions.length && 'show' || 'hide' !]">
            <form accept-charset="UTF-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <label
                                class="control-label"
                                class="pull-right"
                                for="suggestions"
                                >Suggestions</label>
                            <textarea
                                class="form-control col-xs-12"
                                id="suggestions"
                                ng-focus="focus['suggestions']"
                                ng-on-blur="focus['suggestions'] = false"
                                >[! suggestions.join('\n') !]</textarea>
                            <div class="help-block text-right">
                                Total Number of Suggestions:
                                <span>[! suggestions.length !]</span>
                            </div>
                        </div>
                        <div class="text-right">
                            <button
                                class="btn btn-info copy-all"
                                type="button"
                                data-value="[! suggestions.join('\n') !]"
                                >
                                <span class="fa fa-fw fa-copy fa-lg"></span>
                                Copy All
                            </button>
                            <button
                                class="btn btn-success"
                                type="button"
                                ng-click="download()"
                                >
                                <span class="fa fa-fw fa-download fa-lg"></span>
                                Download CSV
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
