{% extends 'layout.twig' %}

{% set module = 'Keywords Suggester' %}
{% set nav = 'aks' %}

{% block content %}
<div
    id="aks"
    data-error-1-top="Error #1"
    data-error-1-middle="<p>Please enter a valid phrase.</p>"
    data-error-2-top="Error #2"
    data-error-2-middle="<p>Multiple word entries have been temporarily disabled for advanced searches. We are upgrading our infrastructure to accommodate these highly resource intensive queries and hope to restore this in the coming weeks. Thank you for your patience while we work hard to deliver exciting new features and the performance you've come to expect from us all at the same time.</p>"
    data-error-3-top="Error #3"
    data-error-3-middle="<p>An unknown error has occurred. Please try again.</p>"
    data-keywords="{{ keywords }}"
    data-mode="{{ mode }}"
    data-url-download="{{ url('aks_download') }}"
    data-url-xhr="{{ url('aks_xhr') }}"
    ng-controller="aks"
    >
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                {% include 'slots/feedback.twig' %}
                <div
                    class="btn btn-primary pull-right qsg"
                    data-target="#aks-qsg"
                    data-toggle="modal"
                    >
                    <span class="icon-info-sign"></span>
                    Information
                </div>
                <h1>{{ module }}</h1>
            </div>
            <p>
                To begin, simply enter one or more keywords (one per line) and
                then press Submit. The Suggester will return results as they
                become available and then display them on the right. To combine
                keywords you may switch the Mode from "Suggest" to "Combine".
                This process looks for suggestions containing two or more
                keywords in your list and displays only those results. It's
                best to use single word entries for this mode, and not
                long-tail keywords.
            </p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <form accept-charset="UTF-8" ng-submit="submit()">
                <div ng-show="!spinner">
                    <div class="control-group">
                        <label class="control-label" for="keywords">
                            Keywords
                        </label>
                        <div class="controls">
                            <textarea
                                class="span12"
                                id="keywords"
                                ng-focus="focus['keywords']"
                                ng-model="keywords"
                                ng-on-blur="focus['keywords'] = false"
                                ></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="country">
                            Country
                        </label>
                        <div class="controls">
                            <select
                                class="span12"
                                id="country"
                                ng-model="country"
                                >
                                {% for key, value in countries %}
                                    <option value="{{ key }}">
                                        {{ value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="mode">
                            Mode
                        </label>
                        <div class="controls">
                            <select
                                class="span12"
                                id="mode"
                                ng-model="mode"
                                ng-options="mode for mode in modes"
                                ></select>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="search_alias">
                            Department
                        </label>
                        <div class="controls">
                            <select
                                class="span12"
                                id="search_alias"
                                ng-model="search_alias"
                                >
                                {% for key, value in search_aliases %}
                                    <option value="{{ key }}">
                                        {{ value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="control-label" class="checkbox">
                                <input
                                    type="checkbox"
                                    ng-model="checkbox"
                                    > Automatically download on completion
                            </label>
                        </div>
                    </div>
                </div>
                <table
                    class="table table-hover table-striped"
                    ng-show="spinner"
                    >
                    <thead>
                        <tr>
                            <th>Keyword</th>
                            <th class="narrow center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rows">
                            <td>[! row !]</td>
                            <td class="narrow center">
                                <span
                                    class="icon-remove-sign"
                                    ng-show="statuses[row] == -1"
                                    ></span>
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-show="statuses[row] == 0"
                                    ></span>
                                <span
                                    class="icon-ok-sign"
                                    ng-show="statuses[row] == 1"
                                    ></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-actions">
                    <button
                        class="btn btn-success pull-right"
                        type="submit"
                        ng-show="!spinner"
                        >
                        <span class="icon-info-sign icon-large"></span>
                        Submit
                    </button>
                    <button
                        class="btn btn-danger pull-right"
                        ng-click="reset()"
                        ng-show="spinner"
                        type="button"
                        >
                        <span class="icon-trash icon-large"></span>
                        Reset
                    </button>
                </div>
            </form>
        </div>
        <div class="span6 hide [! suggestions.length && 'show' || 'hide' !]">
            <form accept-charset="UTF-8">
                <div class="control-group">
                    <label
                        class="control-label"
                        class="pull-right"
                        for="suggestions"
                        >Suggestions</label>
                    <div class="controls">
                        <textarea
                            class="span12"
                            id="suggestions"
                            ng-focus="focus['suggestions']"
                            ng-on-blur="focus['suggestions'] = false"
                            >[! suggestions.join('\n') !]</textarea>
                        <span class="help-block right">
                            Total Number of Suggestions:
                            <span>[! suggestions.length !]</span>
                        </span>
                    </div>
                </div>
                <div class="form-actions right">
                    <button
                        class="btn btn-info copy-all"
                        type="button"
                        data-value="[! suggestions.join('\n') !]"
                        >
                        <span class="icon-copy icon-large"></span>
                        Copy All
                    </button>
                    <button
                        class="btn btn-success"
                        type="button"
                        ng-click="download()"
                        >
                        <span class="icon-download icon-large"></span>
                        Download CSV
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
