{% extends 'layout.twig' %}

{% set module = 'Dashboard' %}
{% set nav = 'dashboard' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li class="active"><a href="{{ url('dashboard') }}">Dashboard</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-dashboard page-header-icon"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p class="text-center">
    Featured tools are shown below. All tools are accessible from the
    navigation bar above.
</p>
<hr>
<div class="row">
    <div class="col-xs-4">
        <p class="text-center">
            <iframe
                class="video"
                allowfullscreen
                frameborder="0"
                height="230"
                src="//www.youtube.com/embed/Iwd5VJa-IPk"
                width="408"
            ></iframe>
            <a
                class="btn btn-info btn-large"
                href="{{ url('top_100_explorer') }}"
                >
                <span class="fa fa-fw fa-key"></span> Top 100 Explorer
            </a>
        </p>
    </div>
    <div class="col-xs-4">
        <p class="text-center">
            <iframe
                class="video"
                allowfullscreen
                frameborder="0"
                height="230"
                src="//www.youtube.com/embed/OSI7Ym1Xw0c"
                width="408"
            ></iframe>
            <a
                class="btn btn-info btn-large"
                href="{{ url('keyword_suggester') }}"
                >
                <span class="fa fa-fw fa-list"></span> Keyword Suggester
            </a>
        </p>
    </div>
    <div class="col-xs-4">
        <p class="text-center">
            <span class="video"></span>
            <a
                class="btn btn-info btn-large"
                href="{{ url('keyword_analyzer_multiple') }}"
                >
                <i class="fa fa-fw fa-tags"></i> Keyword Analyzer - Multiple
            </a>
        </p>
    </div>
</div>
<hr>
{% if popular_searches %}
    <p>
        <a class="pull-right" href="{{ url('popular_searches') }}">See More</a>
        Kindle shoppers want to read more books like:
    </p>
    {% include 'slots/popular_searches.twig' %}
{% endif %}
<hr>
<p>Current Version: <strong>3.1</strong></p>
<ul>
    <li>
        Keyword Analyzer:
        <ul>
            <li>Performance improvements</li>
            {#<li>Support for multiple countries</li>#}
            <li>
                Results will now sort by highest score as default
            </li>
        </ul>
    </li>
    <li>
        Keyword Suggester:
        <ul>
            <li>
                Resolved an issue that prevented German queries
                from working correctly
            </li>
        </ul>
    </li>
</ul>
<div ng-controller="previous_versions">
    <p ng-show="!status">
        <a ng-click="status = true">Show Previous Versions</a>
    </p>
    <p ng-show="status">
        <a ng-click="status = false">Hide Previous Versions</a>
    </p>
    <div ng-show="status">
        <p>Version: <strong>3.0</strong></p>
        <ul>
            <li>
                Processing of keywords is now done entirely
                server-side
            </li>
            <li>
                Multiple Reports may now be run simultaneously
            </li>
            <li>Framework improvements to enhance speed</li>
            <li>
                Changed mail server to improve email deliverability
            </li>
            <li>
                Reports are now safely stored in full for up to 30
                days
            </li>
            <li>
                Partial reports may now be downloaded during
                analysis
            </li>
        </ul>
        <p>Version: <strong>2.0</strong>
        <ul>
            <li>
                Fixed a problem that caused some keywords to "hang"
                during the processing of extremely large lists
            </li>
            <li>Added guide for new users</li>
            <li>Added feedback form</li>
        </ul>
    </div>
</div>
{% endblock %}
