{% extends 'layout.twig' %}

{% set module = 'Keyword Suggester - Free' %}
{% set nav = 'keyword_suggester_free' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li>
        <a href="{{ url('keyword_suggester_free') }}">Keyword Suggester</a>
    </li>
    <li class="active">
        <a href="{{ url('keyword_suggester_free') }}">Free</a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-list"></i>
            {{ module }}
        </h1>
    </div>
</div>
<form
    accept-charset="UTF-8"
    action="{{ url('keyword_suggester_free') }}"
    method="POST"
    >
    <p>
        To begin, simply enter a seed keyword for us to expand upon. We'll
        reach out and grab all of Amazon's suggestions based on this and return
        them to you here. These are valuable because shoppers are actively
        searching for, and buying products inside of these suggested keywords.
    </p>
    <p>
        Try the seed keyword <strong>make money</strong> to see how this works.
    </p>
    <div class="panel">
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label" for="keyword">
                    Keyword
                </label>
                <input
                    class="form-control"
                    id="string"
                    name="string"
                    placeholder="Keyword"
                    required
                    type="text"
                    value=""
                    >
            </div>
            <div class="form-group">
                <label class="control-label" for="country">
                    Country
                </label>
                <select
                    class="form-control"
                    id="country"
                    name="country"
                    >
                    {% for key, value in countries %}
                        <option value="{{ key }}">
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label class="control-label" for="search_alias">
                    Department
                </label>
                <select
                    class="form-control"
                    id="search_alias"
                    name="search_alias"
                    >
                    {% for key, value in search_aliases %}
                        <option value="{{ key }}">
                            {{ value }}
                        </option>
                    {% endfor %}
                </select>
                <div class="help-block text-info">
                    You may choose to return suggestions for specific
                    departments by changing this setting. For example, the
                    Kindle Store.
                </div>
            </div>
            {% if email %}
                <div ng-controller="keyword_suggester_free_email">
                    <p ng-show="!status">
                        We will send you (<strong>{{ email }}</strong>)
                        a personalized link to this request. You may view your
                        personalized history page
                        <a
                            href="{{ url('keyword_suggester_free_email', {'email': email|urlencode_dot}) }}"
                            >here</a>.
                        Would you like to send this to another email address?
                        Click <a ng-click="status = true">here</a> to change
                        it. Note: You will receive a new personalized history
                        page once you change your email address.
                    <p>
                    <div class="form-group" ng-show="status">
                        <label class="control-label" for="email">
                            Email
                        </label>
                        <input
                            class="form-control"
                            id="email"
                            name="email"
                            placeholder="Email"
                            type="text"
                            value="{{ email }}"
                            ng-show="status"
                        >
                        <div class="help-block text-info">
                            If you enter your email address, we will send you a
                            personalized link to this request. We will also
                            send you a personalized history page which will
                            list all of your past requests.
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <input
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="Email"
                        type="email"
                        value="{{ email }}"
                        >
                    <div class="help-block text-info">
                        If you enter your email address, we will send you a
                        personalized link to this request. We will also send
                        you a personalized history page which will list all of
                        your past requests.
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="clearfix panel-footer text-right">
            <button class="btn btn-success pull-right" type="submit">
                <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                Submit
            </button>
            <button class="btn btn-danger pull-right" type="reset">
                <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                Reset
            </button>
        </div>
    </div>
</form>
{% include 'slots/keyword_suggester.twig' %}
{% endblock %}
