{% extends 'layout.twig' %}

{% set module = 'Keyword Suggester' %}
{% set nav = 'keyword_suggester' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li class="active">
        <a href="{{ url('keyword_suggester') }}">{{ module }}</a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <div
                class="btn pull-right"
                data-target="#modal-keyword-suggester"
                data-toggle="modal"
                >
                <span class="fa fa-fw fa-thumbs-up"></span>
                Information
            </div>
            <i class="fa fa-fw fa-list"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    To begin, simply enter one or more keywords (one per line) and then press
    Submit. The Suggester will return results as they become available and then
    display them on the right. To combine keywords you may switch the Mode from
    "Suggest" to "Combine". This process looks for suggestions containing two
    or more keywords in your list and displays only those results. It's best to
    use single word entries for this mode, and not long-tail keywords.
</p>
<div
    data-error-1-top="Phrase Error"
    data-error-1-middle="<p>Please enter a valid phrase.</p>"
    data-error-2-top="Phrase Error"
    data-error-2-middle="<p>Multiple word entries have been temporarily disabled for advanced searches. We are upgrading our infrastructure to accommodate these highly resource intensive queries and hope to restore this in the coming weeks. Thank you for your patience while we work hard to deliver exciting new features and the performance you've come to expect from us all at the same time.</p>"
    data-error-3-top="Network Error"
    data-error-3-middle="<p>Network Error (replied not received for the most recent AJAX request).</p>"
    data-keywords="{{ keywords }}"
    data-mode="{{ mode }}"
    data-url-download="{{ url('keyword_suggester_download') }}"
    data-url-xhr="{{ url('keyword_suggester_xhr') }}"
    ng-controller="keyword_suggester"
    >
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-xs-6">
            <form accept-charset="UTF-8" ng-submit="submit()">
                <div class="panel">
                    <div class="bordered buttons clearfix no-border-l no-border-r no-border-t panel-footer text-right">
                        <button
                            class="btn btn-success pull-right"
                            ng-show="!spinner"
                            type="submit"
                            >
                            <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                            Submit
                        </button>
                        <button
                            class="btn btn-danger no-margin pull-right"
                            ng-click="reset()"
                            ng-show="spinner"
                            type="reset"
                            >
                            <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                            Reset
                        </button>
                    </div>
                    <div class="panel-body">
                        <div ng-show="!spinner">
                            <div class="form-group">
                                <label class="control-label" for="keywords">
                                    Keywords
                                </label>
                                <textarea
                                    class="form-control"
                                    id="keywords"
                                    ng-focus="focus['keywords']"
                                    ng-model="keywords"
                                    ng-on-blur="focus['keywords'] = false"
                                    rows="15"
                                    ></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="country">
                                    Country
                                </label>
                                <select
                                    class="form-control"
                                    id="country"
                                    ng-model="country"
                                    >
                                    {% for key, value in countries %}
                                        <option value="{{ key }}">
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="mode">
                                    Mode
                                </label>
                                <select
                                    class="form-control"
                                    id="mode"
                                    ng-model="mode"
                                    ng-options="mode for mode in modes"
                                    ></select>
                            </div>
                            <div class="form-group">
                                <label
                                    class="control-label"
                                    for="search_alias"
                                    >
                                    Department
                                </label>
                                <select
                                    class="form-control"
                                    id="search_alias"
                                    ng-model="search_alias"
                                    >
                                    {% for key, value in search_aliases %}
                                        <option value="{{ key }}">
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input
                                    class="pull-right switcher"
                                    type="checkbox"
                                    ng-model="checkbox"
                                    >
                                <label class="control-label" class="checkbox">
                                    Automatically download on completion
                                </label>
                            </div>
                        </div>
                        <table
                            class="table table-bordered table-hover table-striped"
                            ng-show="spinner"
                            >
                            <thead>
                                <tr>
                                    <th>Keyword</th>
                                    <th class="narrow text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in rows">
                                    <td>[! row !]</td>
                                    <td class="narrow text-center">
                                        <span
                                            class="fa fa-fw fa-times-circle"
                                            ng-show="statuses[row] == -1"
                                            ></span>
                                        <span
                                            class="fa fa-fw fa-spin fa-spinner"
                                            ng-show="statuses[row] == 0"
                                            ></span>
                                        <span
                                            class="fa fa-fw fa-check-circle"
                                            ng-show="statuses[row] == 1"
                                            ></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix panel-footer text-right">
                        <button
                            class="btn btn-success pull-right"
                            ng-show="!spinner"
                            type="submit"
                            >
                            <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                            Submit
                        </button>
                        <button
                            class="btn btn-danger no-margin pull-right"
                            ng-click="reset()"
                            ng-show="spinner"
                            type="reset"
                            >
                            <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-xs-6 hide [! suggestions.length && 'show' || 'hide' !]">
            <form accept-charset="UTF-8">
                <div class="panel">
                    <div class="panel-body">
                        <div class="form-group">
                            <label
                                class="control-label"
                                class="pull-right"
                                for="suggestions"
                                >Suggestions</label>
                            <textarea
                                class="form-control"
                                id="suggestions"
                                ng-focus="focus['suggestions']"
                                ng-on-blur="focus['suggestions'] = false"
                                rows="15"
                                >[! suggestions.join('\n') !]</textarea>
                            <div class="help-block text-right">
                                Total Number of Suggestions:
                                <span>[! suggestions.length !]</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix panel-footer text-right">
                        <button
                            class="btn btn-info copy-all pull-right"
                            type="button"
                            data-value="[! suggestions.join('\n') !]"
                            >
                            <span class="fa fa-lg fa-fw fa-copy"></span>
                            Copy All
                        </button>
                        <button
                            class="btn btn-success pull-right"
                            type="button"
                            ng-click="download()"
                            >
                            <span class="fa fa-lg fa-fw fa-download"></span>
                            Download CSV
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% include 'slots/keyword_suggester.twig' %}
