{% extends 'layout.twig' %}

{% set module = 'Keywords Analyzers - Multiple - Add' %}
{% set nav = 'keywords_analyzers_multiple' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li><a href="{{ url('dashboard') }}">Keyword Analyzers</a></li>
    <li><a href="{{ url('keyword_analyzer_multiple') }}">Multiple</a></li>
    <li class="active">
        <a href="{{ url('keyword_analyzer_multiple_add') }}">Add</a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-tags"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    To begin, simply add your list of keywords (one per line) and press Submit.
    The process will begin immediately and you'll see your results come in as
    they complete. Please be patient with larger lists as this research is
    intense, keywords may take between 5 seconds and 1 minute to complete
    depending on server utilization. You may close this window at any time, it
    will not interrupt your keyword research.
</p>
<div
    data-error-middle-1="<p>Please enter at least one valid keyword.</p>"
    data-error-middle-2="<p>You cannot enter more than 500 keywords.</p>"
    data-error-top-1="Keyword Error"
    data-error-top-2="Keyword Error"
    ng-controller="keyword_analyzer_multiple_add"
    >
    <form
        accept-charset="UTF-8"
        action="{{ url('keyword_analyzer_multiple_process') }}"
        method="POST"
        >
        <div class="panel">
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label" for="keywords">
                        Keywords
                    </label>
                    <textarea
                        class="form-control"
                        id="keywords"
                        name="keywords"
                        ng-model="keywords"
                        ng-on-blur="focus['keywords'] = false"
                        rows="15"
                        ></textarea>
                    <div class="help-block" ng-class="get_class()">
                        [! count !] keywords remaining
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="country">
                        Country
                    </label>
                    <select
                        class="form-control"
                        id="country"
                        name="country"
                        >
                        {% for key, value in countries %}
                            <option value="{{ key }}">
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="clearfix panel-footer text-right">
                <button
                    class="btn btn-success pull-right"
                    ng-click="submit($event)"
                    type="submit"
                    >
                    <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                    Submit
                </button>
                <button class="btn btn-danger pull-right" type="reset">
                    <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                    Reset
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
