{% extends 'layout.twig' %}

{% set module = 'Keywords Analyzers - Multiple - Overview' %}
{% set nav = 'keywords_analyzers_multiple' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li><a href="{{ url('dashboard') }}">Keyword Analyzers</a></li>
    <li><a href="{{ url('keyword_analyzer_multiple') }}">Multiple</a></li>
    <li class="active">
        <a href="{{ url('keyword_analyzer_multiple') }}">Overview</a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <div
                class="btn pull-right"
                data-target="#modal-keyword-analyzer-multiple"
                data-toggle="modal"
                >
                <span class="fa fa-fw fa-thumbs-up"></span>
                Information
            </div>
            <a class="btn btn-success pull-right" href="{{ url('keyword_analyzer_multiple_add') }}">
                <span class="fa fa-lg fa-fw fa-plus-circle"></span>
                Analyze Keywords
            </a>
            <i class="fa fa-fw fa-tags"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    This page will display all of your previously run reports that are still
    available for viewing and/or download. When a report begins, it will appear
    in the list below. You may close your browser as a report is running and
    then return to the same view by clicking View in the Actions column for the
    desired report.
</p>
<p>
    <strong>Note:</strong> We will complete your oldest report first.
    Additional (new) reports will be queued until your others have finished.
</p>
{% if requests %}
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Report #</th>
                <th class="narrow text-right">Keywords</th>
                <th class="narrow text-right">Expires In</th>
                <th class="narrow text-right">Progress</th>
                <th class="narrow text-center">Status</th>
                <th class="narrow text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td class="narrow text-right">
                        {{ request.preview }}
                        ({{ request.keywords[1] }})
                    </td>
                    <td class="narrow text-right">
                        {{ request.expires_in }}
                    </td>
                    <td class="narrow text-right">
                        {{ request.progress|number_format(2, '.', ',') }}%
                    </td>
                    <td class="narrow text-center">
                        {% if request.status == 'Completed' %}
                            <span class="label label-info">
                                {{ request.status }}
                            </span>
                        {% endif %}
                        {% if request.status == 'Waiting' %}
                            <span class="label label-warning">
                                {{ request.status }}
                            </span>
                        {% endif %}
                        {% if request.status == 'In Progress' %}
                            <span class="label label-success">
                                {{ request.status }}
                            </span>
                        {% endif %}
                    </td>
                    <td class="narrow text-center">
                        <a
                            class="fa fa-lg fa-fw fa-tasks"
                            href="{{ url('keyword_analyzer_multiple_simple', {'id': request.id}) }}"
                            title="View Simple Report"
                            data-placement="left"
                            data-toggle="tooltip"
                            ></a>
                        <a
                            class="fa fa-lg fa-fw fa-bar-chart-o"
                            href="{{ url('keyword_analyzer_multiple_detailed', {'id': request.id}) }}"
                            target="_blank"
                            title="View Detailed Report (For very large reports this page could take a little while to complete. Please be patient.)"
                            data-placement="left"
                            data-toggle="tooltip"
                            ></a>
                        <a
                            class="fa fa-lg fa-fw fa-download"
                            href="{{ url('keyword_analyzer_multiple_csv', {'id': request.id}) }}"
                            title="Download CSV (Simple Report)"
                            data-placement="left"
                            data-toggle="tooltip"
                            ></a>
                        <a
                            class="fa fa-lg fa-fw fa-download"
                            href="{{ url('keyword_analyzer_multiple_pdf', {'id': request.id}) }}"
                            title="Download PDF (Detailed Report)"
                            data-placement="left"
                            data-toggle="tooltip"
                            ></a>
                        <a
                            class="fa fa-lg fa-fw fa-times-circle"
                            href="{{ url('keyword_analyzer_multiple_delete', {'id': request.id}) }}"
                            title="Delete"
                            data-placement="left"
                            data-toggle="tooltip"
                            ></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-dark alert-danger">
        You have not added any requests yet.
    </div>
{% endif %}
{% endblock %}
