{% extends 'layout.twig' %}

{% set module = 'Multiple Keywords Analyzer- View' %}
{% set nav = 'keywords_analyzers_multiple' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
    <li class="active"><a href="{{ url('keyword_analyzer_multiple_single') }}">{{ module }}</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <div
                class="btn btn-primary pull-right qsg"
                data-target="#kns-qsg"
                data-toggle="modal"
                >
                <span class="fa fa-fw fa-thumbs-up"></span>
                Information
            </div>
            <i class="fa fa-fw fa-tag"></i> {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<div
    data-email-top="Email"
    data-email-middle="<p>The email has been queued for delivery successfully.</p>"
    data-pdf-top="PDF"
    data-pdf-middle="<p>Your PDF report is being generated. This process could take up to 15 minutes depending on the size of your report. When ready, a download dialogue will appear.</p><p>NOTE: This report is limited to 100 pages. We'll display the top 100 keywords with 25 products in each keyword on your PDF. For the complete report please click &quot;View Detailed Report&quot;.</p>"
    data-url-csv="{{ url('keyword_analyzer_multiple_csv', {'id': request.id}) }}"
    data-url-email="{{ url('keyword_analyzer_multiple_email', {'id': request.id}) }}"
    data-url-pdf="{{ url('keyword_analyzer_multiple_pdf', {'id': request.id}) }}"
    data-url-xhr="{{ url('keyword_analyzer_multiple_xhr', {'id': request.id}) }}"
    ng-controller="keyword_analyzer_multiple_simple"
    >
    <div class="text-center">
        <a
            class="btn btn-info"
            data-toggle="tooltip"
            href="{{ url('keyword_analyzer_multiple_detailed', {'id': request.id}) }}"
            target="_blank"
            title="For very large reports this page could take a little while to complete. Please be patient."
            >
            <span class="fa fa-fw fa-bar-chart fa-lg"></span>
            View Detailed Report
        </a>
        <a
            class="btn btn-info"
            href="{{ url('keyword_analyzer_multiple_csv', {'id': request.id}) }}"
            title="Simple Report"
            data-toggle="tooltip"
            >
            <span class="fa fa-fw fa-download fa-lg"></span>
            Download CSV
        </a>
        <div
            class="btn btn-info"
            title="Detailed Report - Brandable"
            data-toggle="tooltip"
            popover
            >
            <span class="fa fa-fw fa-download fa-lg"></span>
            Download PDF
            <div class="hide">
                <img
                    class="img-polaroid popover-pdf"
                    data-url="{{ url('keyword_analyzer_multiple_pdf', {'id': request.id}) }}"
                    src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/images/logo.png"
                    >
                {% for logo in logos %}
                    <img
                        class="img-polaroid popover-pdf"
                        data-url="{{ url('keyword_analyzer_multiple_pdf', {'id': request.id, 'logo': logo.file_name|e('url')}) }}"
                        src="{{ url('logos_view', {'file_name': logo.file_name}) }}"
                        >
                {% endfor %}
            </div>
        </div>
        <div
            class="btn btn-info"
            data-url="{{ url('keyword_analyzer_multiple_email', {'id': request.id}) }}"
            title="Simple Report + Detailed Report"
            data-toggle="tooltip"
            popover
            >
            <span class="fa fa-fw fa-envelope fa-lg"></span>
            Email
            <div class="hide">
                <form class="form-inline">
                    <input type="text" value="{{ email }}">
                    <button
                        class="btn btn-success popover-email"
                        type="button"
                        >Submit</button>
                    <button class="btn btn-warning" type="reset">
                        Reset
                    </button>
                </form>
            </div>
        </div>
    </div>
    <hr ng-show="is_finished()">
    <div
        data-urls-aks="{{ url('aks') }}"
        data-urls-suggested-keywords="{{ url('suggested_keywords') }}"
        ng-controller="suggested_keywords"
        ng-show="is_finished() && $parent.get_words().length > 0"
        >
        <p>
            <a ng-click="process($parent.get_words())">
                Click here to compile a list of suggested keywords
            </a>
        </p>
        <p ng-show="spinner">
            <span class="fa fa-2x fa-fw fa-spinner fa-spin">
            </span>
        </p>
        <p ng-show="items.length > 0">
            <ul>
                <li ng-repeat="item in items">
                    [! item !]
                </li>
            </ul>
        </p>
        <p ng-show="items.length > 0">
            <a ng-click="get_more_suggestions(items, 'Combine')">
                Get more suggestions
            </a>
        </p>
        <p class="text-error" ng-show="error">
            Your query did not yield any results. Please try again
            after a while.
        </p>
    </div>
    <hr>
    <form ng-show="is_finished()">
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group kns">
                    <label class="control-label" for="books">
                        No. of Books
                    </label>
                    <div class="controls">
                        <select
                            class="select2 col-xs-12"
                            id="books"
                            ng-model="books_1"
                            ng-options="book as book for book in books"
                            ></select>
                        <input
                            class="col-xs-12"
                            max="999999999"
                            min="0"
                            ng-model="books_2"
                            ng-show="books_1 == 'Less Than' || books_1 == 'More Than'"
                            step="any"
                            type="number"
                            >
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group kns">
                    <label class="control-label" for="books">
                        Amazon BSR
                    </label>
                    <div class="controls">
                        <select
                            class="select2 col-xs-12"
                            id="amazon_best_sellers_ranks"
                            ng-model="amazon_best_sellers_rank_1"
                            ng-options="amazon_best_sellers_rank as amazon_best_sellers_rank for amazon_best_sellers_rank in amazon_best_sellers_ranks"
                            ></select>
                        <input
                            class="col-xs-12"
                            max="999999999"
                            min="0"
                            ng-model="amazon_best_sellers_rank_2"
                            ng-show="amazon_best_sellers_rank_1 == 'Less Than' || amazon_best_sellers_rank_1 == 'More Than'"
                            type="number"
                            >
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="form-group kns">
                    <label class="control-label" for="count">
                        Top
                    </label>
                    <div class="controls">
                        <select
                            class="select2 col-xs-12"
                            id="count"
                            ng-model="count"
                            ng-options="count as count for count in counts"
                            ></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <hr ng-show="is_finished()">
            <p class="center">Mouse over headers for explanation</p>
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th
                            class="header [! order_by[0] == 'string' && get_order_by() || '' !]"
                            ng-click="set_order_by('string')"
                            >
                            <span
                                title="Keyword"
                                data-toggle="tooltip"
                                >Keyword</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.buyer_behavior[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.buyer_behavior[0]')"
                            >
                            <span
                                title="The likelyhood of customers purchasing multiple books within this keyword"
                                data-toggle="tooltip"
                                >Buyer Behavior</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.competition[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.competition[0]')"
                            >
                            <span
                                title="Ranked by our advanced market analysis algorithm."
                                data-toggle="tooltip"
                                >Competition</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.optimization[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.optimization[0]')"
                            >
                            <span
                                title="Optimal keyword density and other factors on Titles and Descriptions (top competitors)."
                                data-toggle="tooltip"
                                >Optimization</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.popularity[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.popularity[0]')"
                            >
                            <span
                                title="Popularity"
                                data-toggle="tooltip"
                                >Popularity</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.spend[0][0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.spend[0][0]')"
                            >
                            <span
                                title="The estimated amount of money spent on products in the top 48 most relevant listings (per day; paid books only)."
                                data-toggle="tooltip"
                                >Spend ({{ currency }})</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.average_price[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.average_price[0]')"
                            >
                            <span
                                title="The average price of products in the top 48 most relevant listings (paid books only)."
                                data-toggle="tooltip"
                                >Avg. Price ({{ currency }})</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.average_length[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.average_length[0]')"
                            >
                            <span
                                title="The average length of products in the top 48 most relevant listings (pages; paid books only)."
                                data-toggle="tooltip"
                                >Avg. Length</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.score[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.score[0]')"
                            >
                            <span
                                title="Ranked by our advanced market analysis algorithm."
                                data-toggle="tooltip"
                                >Score</span>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="keyword in get_keywords()">
                    <tr>
                        <td>
                            <a
                                class="pull-right"
                                ng-click="statuses[keyword['string']] = true"
                                ng-show="keyword['contents'] != null && !statuses[keyword['string']]"
                                >Show Details</a>
                            <a
                                class="pull-right"
                                ng-click="statuses[keyword['string']] = false"
                                ng-show="keyword['contents'] != null && statuses[keyword['string']]"
                                >Hide Details</a>
                            [! keyword['string'] !]
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['buyer_behavior'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['buyer_behavior'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['buyer_behavior'][1]|label:keyword['contents']['buyer_behavior'][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['competition'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['competition'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['competition'][1]|label:keyword['contents']['competition'][1]:false|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['optimization'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['optimization'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['optimization'][1]|label:keyword['contents']['optimization'][1]:false|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['popularity'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['popularity'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['popularity'][1]|label:keyword['contents']['popularity'][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['spend'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['spend'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['spend'][1]|label:keyword['contents']['spend'][0][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['average_price'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['average_price'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['average_price'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['average_length'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['average_length'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['average_length'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="fa fa-fw fa-spinner fa-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['score'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['score'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['score'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr ng-show="statuses[keyword['string']]">
                        <td class="details" colspan="9">
                            <p
                                ng-show="keyword.contents.words && keyword.contents.words.length > 0"
                                ><strong>Top 10 words</strong></p>
                            <div
                                class="row"
                                ng-show="keyword.contents.words && keyword.contents.words.length > 0"
                                >
                                <div class="col-xs-6">
                                    <ul>
                                        <li ng-repeat="word in keyword.contents.words|slice:0:5">
                                            [! word[0] !] ([! word[1] !])
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <ul>
                                        <li ng-repeat="word in keyword.contents.words|slice:5:10">
                                            [! words !]
                                            [! word[0] !] ([! word[1] !])
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p
                                ng-show="keyword.contents.words && keyword.contents.words.length > 0"
                                data-urls-aks="{{ url('aks') }}"
                                ng-controller="suggested_keywords"
                                >
                                <a ng-click="get_more_suggestions(get_words(keyword.contents.words), 'Combine')">Get more suggestions</a>
                            </p>
                            <table class="table table-bordered table-hover table-striped">
                                <tr>
                                    <th
                                        class="header [! order_by_[0] == 'title[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('title[0]')"
                                        >Title</th>
                                    <th
                                        class="narrow text-center header [! order_by_[0] == 'title[1]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('title[1]')"
                                        >KW In Title</th>
                                    <th
                                        class="narrow header [! order_by_[0] == 'author.name' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('author.name')"
                                        >Author</th>
                                    <th
                                        class="narrow text-right header [! order_by_[0] == 'best_sellers_rank[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('best_sellers_rank[0]')"
                                        >Best Seller Rank</th>
                                    <th
                                        class="narrow text-right header [! order_by_[0] == 'price[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('price[0]')"
                                        >Price ({{ currency }})</th>
                                    <th
                                        class="narrow text-right header [! order_by_[0] == 'pages[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('pages[0]')"
                                        >Print Length</th>
                                    <th
                                        class="narrow text-right header [! order_by_[0] == 'publication_date' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('publication_date')"
                                        >Date Published</th>
                                    <th
                                        class="narrow text-right header [! order_by_[0] == 'stars[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('stars[0]')"
                                        >Average Review</th>
                                </tr>
                                <tr ng-repeat="item in keyword['contents']['items']|orderBy:order_by_[0]:order_by_[1]">
                                    <td>
                                        <a
                                            href="[! item.url !]"
                                            rel="noreferrer"
                                            target="_blank"
                                            >[! item.title[0] !]</a>
                                    </td>
                                    <td class="narrow text-center">
                                        [! item.title[1] !]
                                    </td>
                                    <td class="narrow">
                                        <span ng-hide="item.author == undefined">
                                            <a
                                                class="pull-right"
                                                href="[! item.author.url !]"
                                                ng-show="item.author.url.length > 0"
                                                rel="noreferrer"
                                                target="_blank"
                                                ><i class="fa fa-fw fa-external-link"></i></a>
                                            <a
                                                href="{{ url('author_analyzer') }}?url=[! item.author.url|encodeUri !]"
                                                ng-show="item.author.url.length > 0"
                                                target="_blank"
                                                >[! item.author.name !]</a>
                                            <span ng-show="item.author.url.length == 0">
                                                [! item.author.name !]
                                            </span>
                                        </span>
                                    </td>
                                    <td class="narrow text-right">
                                        [! item.best_sellers_rank[0]|number:0 !]
                                    </td>
                                    <td class="narrow text-right">
                                        [! item.price[0]|number:2 !]
                                    </td>
                                    <td class="narrow text-right">
                                        [! item.pages[0]|number:0 !]
                                    </td>
                                    <td class="narrow text-right">
                                        [! item.publication_date !]
                                    </td>
                                    <td class="narrow text-right">
                                        [! item.stars[0]|number:2 !]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p ng-show="!keywords.length">
        <span class="fa fa-fw fa-spinner fa-spin fa-2x"></span>
    </p>
</div>
{% endblock %}
