{% extends 'layout.twig' %}

{% set module = 'Keyword Suggester - Free - Email - ' ~ email %}
{% set nav = 'keyword_suggester_free' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li>
        <a href="{{ url('keyword_suggester_free') }}">Keyword Suggester</a>
    </li>
    <li>
        <a href="{{ url('keyword_suggester_free_email', {'email': email|urlencode_dot}) }}">
            Free
        </a>
    </li>
    <li class="active">
        <a href="{{ url('keyword_suggester_free_email', {'email': email|urlencode_dot}) }}">
            {{ email }}
        </a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-list"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
{% if records|length %}
    {% for record in records %}
        <p>
            <a href="{{ url('keyword_suggester_free_id', {'id': record.id}) }}">
                {{ record.string }}
            </a>
        </p>
        <div class="form-group">
            <textarea
                class="form-control"
                rows="15"
                >{{ record.strings|join("\n") }}</textarea>
            <div class="help-block text-right">
                Total Number of Suggestions:
                <span>{{ record.strings|length }}</span>
            </div>
        </div>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="alert alert-dark alert-danger">
        You have not added any requests yet.
    </div>
{% endif %}
{% include 'slots/keyword_suggester.twig' %}
{% endblock %}
