{% extends 'layout.twig' %}

{% set module = 'Keyword Suggester - Free - ' ~ record.string %}
{% set nav = 'keyword_suggester_free' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li>
        <a href="{{ url('keyword_suggester_free') }}">Keyword Suggester</a>
    </li>
    <li>
        <a href="{{ url('keyword_suggester_free_id', {'id': record.id}) }}">
            Free
        </a>
    </li>
    <li class="active">
        <a href="{{ url('keyword_suggester_free_id', {'id': record.id}) }}">
            {{ record.string }}
        </a>
    </li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-list"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<div
    data-url-xhr="{{ url('keyword_suggester_free_id_xhr', {id: record.id}) }}"
    ng-controller="keyword_suggester_free"
    >
    <p class="text-center" ng-show="spinner">
        <span class="fa fa-2x fa-fw fa-spin fa-spinner"></span>
    </p>
    <table
        class="table table-bordered table-hover table-striped"
        ng-show="spinner"
        >
        <tr>
            <td>ETA</td>
            <td class="narrow text-right">[! eta !]</td>
        </tr>
        <tr>
            <td>Wait List Number</td>
            <td class="narrow text-right">[! count !]</td>
        </tr>
    </table>
    <p ng-show="spinner">
        We're grabbing your suggested keywords now, this should only take a
        moment. Once we're done, you'll see them here. If you've entered your
        email we've also sent you a page that you may return to at any point to
        review all of your searches
    </p>
    <div class="panel" ng-show="record.strings.length">
        <div class="panel-body">
            <div class="form-group">
                <textarea
                    class="form-control"
                    id="suggestions"
                    rows="15"
                    >[! record.strings.join('\n') !]</textarea>
                <div class="help-block text-right">
                    Total Number of Suggestions:
                    <span>[! record.strings.length !]</span>
                </div>
            </div>
        </div>
        <div class="clearfix panel-footer text-right">
            <a
                class="btn btn-success no-margin pull-left"
                href="{{ url('keyword_suggester_free') }}"
                >
                <span class="fa fa-lg fa-fw fa-search"></span>
                New Search
            </a>
            <button
                class="btn btn-info copy-all no-margin pull-right"
                data-value="[! record.strings.join('\n') !]"
                type="button"
                >
                <span class="fa fa-lg fa-fw fa-copy"></span>
                Copy All
            </button>
        </div>
    </div>
    {% if record.email %}
        <p class="text-center" ng-show="record.strings.length">
            You can view your personalized history page
            <a href="{{ url('keyword_suggester_free_email', {'email': record.email|urlencode_dot}) }}">
                here.
            </a>
        </p>
    {% endif %}
</div>
{% include 'slots/keyword_suggester.twig' %}
{% endblock %}
