{% extends 'layout.twig' %}

{% set module = 'Multiple Keywords Analyzer- View' %}
{% set nav = 'kns' %}

{% block content %}
<div
    data-email-top="Email"
    data-email-middle="<p>The email has been queued for delivery successfully.</p>"
    data-pdf-top="PDF"
    data-pdf-middle="<p>Your PDF report is being generated. This process could take up to 15 minutes depending on the size of your report. When ready, a download dialogue will appear.</p><p>NOTE: This report is limited to 100 pages. We'll display the top 100 keywords with 25 products in each keyword on your PDF. For the complete report please click &quot;View Detailed Report&quot;.</p>"
    data-url-csv="{{ url('kns_csv', {'id': request.id}) }}"
    data-url-email="{{ url('kns_email', {'id': request.id}) }}"
    data-url-pdf="{{ url('kns_pdf', {'id': request.id}) }}"
    data-url-xhr="{{ url('kns_xhr', {'id': request.id}) }}"
    ng-controller="kns_simple"
    >
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                {% include 'slots/feedback.twig' %}
                <div
                    class="btn btn-primary pull-right qsg"
                    data-target="#kns-qsg"
                    data-toggle="modal"
                    >
                    <span class="icon-info-sign"></span>
                    Information
                </div>
                <h1>{{ module }}</h1>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="p text-center">
                <a
                    class="btn btn-info"
                    data-toggle="tooltip"
                    href="{{ url('kns_detailed', {'id': request.id}) }}"
                    target="_blank"
                    title="For very large reports this page could take a little while to complete. Please be patient."
                    >
                    <span class="icon-bar-chart icon-large"></span>
                    View Detailed Report
                </a>
                <a
                    class="btn btn-info"
                    href="{{ url('kns_csv', {'id': request.id}) }}"
                    title="Simple Report"
                    data-toggle="tooltip"
                    >
                    <span class="icon-download icon-large"></span>
                    Download CSV
                </a>
                {% if 3 in groups and logos %}
                    <div
                        class="btn btn-info"
                        title="Detailed Report - Brandable"
                        data-toggle="tooltip"
                        popover
                        >
                        <span class="icon-download icon-large"></span>
                        Download PDF
                        <div class="hide">
                            <img
                                class="img-polaroid popover-pdf"
                                data-url="{{ url('kns_pdf', {'id': request.id}) }}"
                                src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/images/logo.png"
                                >
                            {% for logo in logos %}
                                <img
                                    class="img-polaroid popover-pdf"
                                    data-url="{{ url('kns_pdf', {'id': request.id, 'logo': logo.file_name|e('url')}) }}"
                                    src="{{ url('logos_view', {'file_name': logo.file_name}) }}"
                                    >
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <button
                        class="btn btn-info popover-pdf"
                        title="Detailed Report"
                        data-toggle="tooltip"
                        data-url="{{ url('kns_pdf', {'id': request.id}) }}"
                        >
                        <span class="icon-download icon-large"></span>
                        Download PDF
                    </button>
                {% endif %}
                <div
                    class="btn btn-info"
                    data-url="{{ url('kns_email', {'id': request.id}) }}"
                    title="Simple Report + Detailed Report"
                    data-toggle="tooltip"
                    popover
                    >
                    <span class="icon-envelope icon-large"></span>
                    Email
                    <div class="hide">
                        <form class="form-inline">
                            <input type="text" value="{{ email }}">
                            <button
                                class="btn btn-success popover-email"
                                type="button"
                                >Submit</button>
                            <button class="btn btn-warning" type="reset">
                                Reset
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <hr ng-show="is_finished()">
            <div
                data-url="{{ url('suggested_keywords') }}"
                ng-controller="suggested_keywords"
                ng-show="is_finished() && $parent.get_words().length > 0"
                >
                <p>
                    <a ng-click="process($parent.get_words())">
                        Click here to compile a list of
                        suggested keywords
                    </a>
                </p>
                <p ng-show="spinner">
                    <span class="icon-spinner icon-spin icon-2x">
                    </span>
                </p>
                <p ng-show="items.length > 0">
                    <ul>
                        <li ng-repeat="item in items">
                            [! item !]
                        </li>
                    </ul>
                </p>
                <p class="text-error" ng-show="error">
                    Your query did not yield any results.
                    Please try again after a while.
                </p>
            </div>
            <hr ng-show="is_finished() && get_words().length > 0">
        </div>
    </div>
    <form class="form-horizontal" ng-show="is_finished()">
        <div class="row-fluid">
            <div class="span4">
                <div class="control-group kns">
                    <label class="control-label" for="books">
                        No. of Books
                    </label>
                    <div class="controls">
                        <select
                            class="select2 span12"
                            id="books"
                            ng-model="books_1"
                            ng-options="book as book for book in books"
                            ></select>
                        <input
                            class="span12"
                            max="999999999"
                            min="0"
                            ng-model="books_2"
                            ng-show="books_1 == 'Less Than' || books_1 == 'More Than'"
                            step="any"
                            type="number"
                            >
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group kns">
                    <label class="control-label" for="books">
                        Amazon BSR
                    </label>
                    <div class="controls">
                        <select
                            class="select2 span12"
                            id="amazon_best_sellers_ranks"
                            ng-model="amazon_best_sellers_rank_1"
                            ng-options="amazon_best_sellers_rank as amazon_best_sellers_rank for amazon_best_sellers_rank in amazon_best_sellers_ranks"
                            ></select>
                        <input
                            class="span12"
                            max="999999999"
                            min="0"
                            ng-model="amazon_best_sellers_rank_2"
                            ng-show="amazon_best_sellers_rank_1 == 'Less Than' || amazon_best_sellers_rank_1 == 'More Than'"
                            type="number"
                            >
                    </div>
                </div>
            </div>
            <div class="span4">
                <div class="control-group kns">
                    <label class="control-label" for="count">
                        Top
                    </label>
                    <div class="controls">
                        <select
                            class="select2 span12"
                            id="count"
                            ng-model="count"
                            ng-options="count as count for count in counts"
                            ></select>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row-fluid">
        <div class="span12">
            <hr ng-show="is_finished()">
            <p class="center">Mouse over headers for explanation</p>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th
                            class="header [! order_by[0] == 'string' && get_order_by() || '' !]"
                            ng-click="set_order_by('string')"
                            >
                            <span
                                title="Keyword"
                                data-toggle="tooltip"
                                >Keyword</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.buyer_behavior[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.buyer_behavior[0]')"
                            >
                            <span
                                title="The likelyhood of customers purchasing multiple books within this keyword"
                                data-toggle="tooltip"
                                >Buyer Behavior</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.competition[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.competition[0]')"
                            >
                            <span
                                title="Ranked by our advanced market analysis algorithm."
                                data-toggle="tooltip"
                                >Competition</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.optimization[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.optimization[0]')"
                            >
                            <span
                                title="Optimal keyword density and other factors on Titles and Descriptions (top competitors)."
                                data-toggle="tooltip"
                                >Optimization</span>
                        </th>
                        <th
                            class="center header [! order_by[0] == 'contents.popularity[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.popularity[0]')"
                            >
                            <span
                                title="Popularity"
                                data-toggle="tooltip"
                                >Popularity</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.spend[0][0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.spend[0][0]')"
                            >
                            <span
                                title="The estimated amount of money spent on products in the top 48 most relevant listings (per day; paid books only)."
                                data-toggle="tooltip"
                                >Spend ({{ currency }})</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.average_price[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.average_price[0]')"
                            >
                            <span
                                title="The average price of products in the top 48 most relevant listings (paid books only)."
                                data-toggle="tooltip"
                                >Avg. Price ({{ currency }})</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.average_length[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.average_length[0]')"
                            >
                            <span
                                title="The average length of products in the top 48 most relevant listings (pages; paid books only)."
                                data-toggle="tooltip"
                                >Avg. Length</span>
                        </th>
                        <th
                            class="right header [! order_by[0] == 'contents.score[0]' && get_order_by() || '' !]"
                            ng-click="set_order_by('contents.score[0]')"
                            >
                            <span
                                title="Ranked by our advanced market analysis algorithm."
                                data-toggle="tooltip"
                                >Score</span>
                        </th>
                    </tr>
                </thead>
                <tbody ng-repeat="keyword in get_keywords()">
                    <tr>
                        <td>
                            <a
                                class="pull-right"
                                ng-click="statuses[keyword['string']] = true"
                                ng-show="keyword['contents'] != null && !statuses[keyword['string']]"
                                >Show Details</a>
                            <a
                                class="pull-right"
                                ng-click="statuses[keyword['string']] = false"
                                ng-show="keyword['contents'] != null && statuses[keyword['string']]"
                                >Hide Details</a>
                            [! keyword['string'] !]
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['buyer_behavior'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['buyer_behavior'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['buyer_behavior'][1]|label:keyword['contents']['buyer_behavior'][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['competition'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['competition'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['competition'][1]|label:keyword['contents']['competition'][1]:false|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['optimization'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['optimization'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['optimization'][1]|label:keyword['contents']['optimization'][1]:false|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="center">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['popularity'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['popularity'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['popularity'][1]|label:keyword['contents']['popularity'][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['spend'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['spend'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default ng-bind-html="keyword['contents']['spend'][1]|label:keyword['contents']['spend'][0][1]:true|html"></span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['average_price'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['average_price'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['average_price'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['average_length'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['average_length'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['average_length'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                        <td class="right">
                            <span ng-switch on="keyword['contents']">
                                <span
                                    class="icon-spinner icon-spin"
                                    ng-switch-when="null"
                                    ></span>
                                <span ng-switch-default>
                                    <span ng-switch on="keyword['contents']['score'][1]">
                                        <span
                                            class="text-error"
                                            ng-switch-when="N/A"
                                            >
                                            <strong>
                                                [! keyword['contents']['score'][1] !]
                                            </strong>
                                        </span>
                                        <span ng-switch-default>
                                            [! keyword['contents']['score'][1] !]
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </td>
                    </tr>
                    <tr ng-show="statuses[keyword['string']]">
                        <td class="details" colspan="9">
                            <p
                                ng-show="keyword.contents.words && keyword.contents.words.length > 0"
                                ><strong>Top 10 words</strong></p>
                            <div
                                class="row-fluid"
                                ng-show="keyword.contents.words && keyword.contents.words.length > 0"
                                >
                                <div class="span6">
                                    <ul>
                                        <li ng-repeat="word in keyword.contents.words|slice:0:5">
                                            [! word[0] !] ([! word[1] !])
                                        </li>
                                    </ul>
                                </div>
                                <div class="span6">
                                    <ul>
                                        <li ng-repeat="word in keyword.contents.words|slice:5:10">
                                            [! words !]
                                            [! word[0] !] ([! word[1] !])
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table table-hover table-striped">
                                <tr>
                                    <th
                                        class="header [! order_by_[0] == 'title[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('title[0]')"
                                        >Title</th>
                                    <th
                                        class="narrow center header [! order_by_[0] == 'title[1]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('title[1]')"
                                        >KW In Title</th>
                                    <th
                                        class="narrow right header [! order_by_[0] == 'best_sellers_rank[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('best_sellers_rank[0]')"
                                        >Best Seller Rank</th>
                                    <th
                                        class="narrow right header [! order_by_[0] == 'price[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('price[0]')"
                                        >Price ({{ currency }})</th>
                                    <th
                                        class="narrow right header [! order_by_[0] == 'pages[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('pages[0]')"
                                        >Print Length</th>
                                    <th
                                        class="narrow right header [! order_by_[0] == 'publication_date' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('publication_date')"
                                        >Date Published</th>
                                    <th
                                        class="narrow right header [! order_by_[0] == 'stars[0]' && get_order_by_() || '' !]"
                                        ng-click="set_order_by_('stars[0]')"
                                        >Average Review</th>
                                </tr>
                                <tr ng-repeat="item in keyword['contents']['items']|orderBy:order_by_[0]:order_by_[1]">
                                    <td>
                                        <a
                                            href="[! item.url !]"
                                            rel="noreferrer"
                                            target="_blank"
                                            >[! item.title[0] !]</a>
                                    </td>
                                    <td class="narrow center">
                                        [! item.title[1] !]
                                    </td>
                                    <td class="narrow right">
                                        [! item.best_sellers_rank[0]|number:0 !]
                                    </td>
                                    <td class="narrow right">
                                        [! item.price[0]|number:2 !]
                                    </td>
                                    <td class="narrow right">
                                        [! item.pages[0]|number:0 !]
                                    </td>
                                    <td class="narrow right">
                                        [! item.publication_date !]
                                    </td>
                                    <td class="narrow right">
                                        [! item.stars[0]|number:2 !]
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row-fluid" ng-show="!keywords.length">
        <div class="span12">
            <center>
                <p>
                    <span class="icon-spinner icon-spin icon-2x"></span>
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}
