{% extends 'layout.twig' %}

{% set module = 'Logos - Overview' %}
{% set nav = 'others' %}

{% block content %}
{% include 'slots/back-to-dashboard.twig' %}
<div id="logos_overview">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>{{ module }}</h1>
            </div>
            <div class="form-actions">
                <a class="btn btn-success" href="{{ url('logos_add') }}">
                    <span class="icon-plus-sign icon-large"></span>
                    Add
                </a>
            </div>
            <p>To add custom logos to your detailed analysis reports, simply press "Add" to upload your desired logo. You may store as many logos as you’d like here and they will be available for selection when you choose to download reports.</p>
            {% include 'slots/alerts.twig' %}
            {% if logos %}
                <table class="table table-hover table-striped tablesorter">
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th class="right small">Dimensions</th>
                            <th class="center small">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for logo in logos %}
                            <tr>
                                <td>
                                    <span class="pull-right">{{ logo.file_name }}</span>
                                    <img class="img-polaroid" src="{{ url('logos_view', {'file_name': logo.file_name}) }}">
                                </td>
                                <td class="right small">{{ logo.dimensions }}</td>
                                <td class="center small">
                                    <a
                                        class="icon-download icon-large"
                                        href="{{ url('logos_download', {'file_name': logo.file_name}) }}"
                                        title="Download"
                                        data-toggle="tooltip"
                                        ></a>
                                    <a
                                        class="icon-remove-sign icon-large"
                                        href="{{ url('logos_delete', {'file_name': logo.file_name}) }}"
                                        title="Delete"
                                        data-toggle="tooltip"
                                        ></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-error">
                    You have not uploaded any logos yet.
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
