{% extends 'layout.twig' %}

{% set module = 'Logos - Overview' %}
{% set nav = 'logos' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li><a href="{{ url('logos') }}">Logos</a></li>
    <li class="active"><a href="{{ url('logos') }}">Overview</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <a
                class="btn btn-success pull-right"
                href="{{ url('logos_add') }}"
                >
                <span class="fa fa-lg fa-fw fa-plus-circle"></span>
                Add
            </a>
            <i class="fa fa-fw fa-picture-o"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    To add custom logos to your detailed analysis reports, simply press "Add"
    to upload your desired logo. You may store as many logos as you'd like here
    and they will be available for selection when you choose to download
    reports.
</p>
{% if logos %}
    <div class="table-light">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th class="narrow text-right">Dimensions</th>
                    <th class="narrow text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for logo in logos %}
                    <tr>
                        <td>
                            <img src="{{ url('logos_preview', {'file_name': logo.file_name}) }}">
                        </td>
                        <td class="narrow text-right">
                            {{ logo.dimensions }}
                        </td>
                        <td class="narrow text-center">
                            <a
                                class="fa fa-lg fa-fw fa-download"
                                href="{{ url('logos_download', {'file_name': logo.file_name}) }}"
                                title="Download"
                                data-toggle="tooltip"
                                ></a>
                            <a
                                class="fa fa-lg fa-fw fa-times-circle"
                                href="{{ url('logos_delete', {'file_name': logo.file_name}) }}"
                                title="Delete"
                                data-toggle="tooltip"
                                ></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-dark alert-danger">
        You have not uploaded any logos yet.
    </div>
{% endif %}
{% endblock %}
