{% extends 'layout.twig' %}

{% set module = 'Logos - Add' %}
{% set nav = 'others_logos' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
    <li class="active"><a href="{{ url('logos_overview') }}">{{ module }}</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-picture-o"></i> {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<form
    accept-charset="UTF-8"
    action="{{ url('logos_add') }}"
    enctype="multipart/form-data"
    method="POST"
    >
    <div class="panel">
        <div class="panel-body">
            <div class="form-group {{ error is defined and error? 'has-error': '' }}">
                <label class="control-label" for="logo">Logo</label>
                <input id="logo" name="logo" type="file">
                {% if error is defined and error %}
                    <div class="help-block">{{ error }}</div>
                {% endif %}
            </div>
            <div class="help-block">
                Note: Logos must be uploaded in .png format.
            </div>
        </div>
        <div class="clearfix panel-footer text-right">
            <button class="btn btn-success pull-right" type="submit">
                <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                Submit
            </button>
            <button class="btn btn-danger pull-right" type="reset">
                <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                Reset
            </button>
        </div>
    </div>
</form>
{% endblock %}
