{% extends 'layout.twig' %}

{% set module = 'Logos - Delete' %}
{% set nav = 'others_logos' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li><a href="{{ url('logos') }}">Logos</a></li>
    <li class="active"><a href="{{ url('logos') }}">Delete</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-picture-o"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>Are you sure you want to delete this logo?</p>
<form
    accept-charset="UTF-8"
    action="{{ url('logos_delete', {'file_name': file_name}) }}"
    method="POST"
    >
    <div class="panel">
        <div class="no-border-t panel-footer text-right">
            <button class="btn btn-success" type="submit">
                <span class="fa fa-lg fa-fw fa-thumbs-up"></span>
                Yes
            </button>
            <a
                class="btn btn-danger"
                href="{{ url('logos') }}"
                >
                <span class="fa fa-lg fa-fw fa-thumbs-down"></span>
                No
            </a>
        </div>
    </div>
</form>
{% endblock %}
