{% extends 'layout.twig' %}

{% set module = 'Profile' %}
{% set nav = '' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Dashboard</a></li>
    <li class="active"><a href="{{ url('profile') }}">Profile</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-user page-header-icon"></i> {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<p>
    All reports will be sent to the e-mail address on your account. To change
    this e-mail, simple correct the address shown below and press submit.
    Please be advised, this will change the e-mail address that you log in
    with.
</p>
<form
    accept-charset="UTF-8"
    action="{{ url('profile') }}"
    method="POST"
    >
    <div class="panel">
        <div class="panel-body">
            <div class="form-group {{ error is defined and error? 'has-error': '' }}">
                <label class="control-label" for="email">Email</label>
                <input
                    class="form-control"
                    id="email"
                    name="email"
                    type="text"
                    value="{{ email }}"
                    >
                {% if error is defined and error %}
                    <div class="help-block">{{ error }}</div>
                {% endif %}
            </div>
            <div class="text-right">
                <button class="btn btn-danger" type="reset">
                    <span class="fa fa-fw fa-trash icon-large"></span>
                    Reset
                </button>
                <button class="btn btn-success" type="submit">
                    <span class="fa fa-fw fa-info-sign icon-large"></span>
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
