{% set module = 'Sign In' %}

<!doctype html>
<!--[if IE 8]>
    <html class="ie8" lang="en" ng-app="application">
<![endif]-->
<!--[if IE 9]>
    <html class="ie9 gt-ie8" lang="en" ng-app="application">
<![endif]-->
<!--[if gt IE 9]><!-->
    <html class="gt-ie8 gt-ie9 not-ie" lang="en" ng-app="application">
<!--<![endif]-->
    <head>
        <link
            href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/images/favicon.ico"
            rel="shortcut icon"
            >
        {% include 'slots/stylesheets.twig' %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
            >
        <!--[if lt IE 9]>
            <script
                src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/vendor/pixeladmin/html/assets/javascripts/ie.min.js"
                ></script>
        <![endif]-->
        <title>{{ module }} - ZonSidekick</title>
    </head>
    <body class="theme-default page-signin">
        <div id="page-signin-bg">
            <div class="overlay"></div>
                <img src="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.baseUrl }}/vendor/pixeladmin/html/assets/demo/signin-bg-1.jpg">
            </div>
            <div class="signin-container">
                <div class="signin-info">
                    <a class="logo" href="{{ url('dashboard') }}">
                        ZonSidekick
                    </a>
                </div>
                <div class="signin-form">
                    <form
                        action="{{ url('sign_in') }}"
                        id="signin-form_id"
                        method="post"
                        >
                        <div class="signin-text">
                            <span>{{ title }}</span>
                        </div>
                        <div class="form-group w-icon">
                            <input
                                class="form-control input-lg"
                                id="username"
                                name="username"
                                placeholder="Username"
                                type="text"
                                value=""
                                >
                            <span class="fa fa-user signin-form-icon"></span>
                        </div>
                        <div class="form-group w-icon">
                            <input
                                class="form-control input-lg"
                                id="password"
                                name="password"
                                placeholder="Password"
                                type="password"
                                value=""
                                >
                            <span class="fa fa-lock signin-form-icon"></span>
                        </div>
                        <div class="form-actions">
                            <input
                                class="signin-btn bg-primary"
                                type="submit"
                                value="SIGN IN"
                                >
                            <a
                                class="forgot-password"
                                href="http://zonsidekick.com/zs-my-account/lost-password/"
                                target="_blank"
                                >Forgot Password</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'slots/javascripts.twig' %}
    </body>
</html>
