{% extends 'layout.twig' %}

{% set module = 'Statistics' %}
{% set nav = 'statistics' %}

{% block content %}
<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here:</div>
    <li><a href="{{ url('dashboard') }}">Home</a></li>
    <li class="active"><a href="{{ url('statistics') }}">Statistics</a></li>
</ul>
<div class="page-header">
    <div class="row">
        <h1 class="col-xs-12">
            {% include 'slots/feedback.twig' %}
            <i class="fa fa-fw fa-bar-chart-o page-header-icon"></i>
            {{ module }}
        </h1>
    </div>
</div>
{% include 'slots/alerts.twig' %}
<div class="table-light">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th class="narrow text-right">Reports</th>
                <th class="narrow text-right">Total Keywords</th>
                <th class="narrow text-right">Incomplete Keywords</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}. {{ item.display_name }}</td>
                    <td class="narrow text-right">{{ item.requests }}</td>
                    <td class="narrow text-right">{{ item.keywords_1 }}</td>
                    <td class="narrow text-right">{{ item.keywords_2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th class="narrow text-right">{{ requests }}</th>
                <th class="narrow text-right">{{ keywords_1 }}</th>
                <th class="narrow text-right">{{ keywords_2 }}</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
