{% for batch in popular_searches|batch(3) %}
    <div class="row-fluid">
        {% for popular_search in batch %}
            <div class="span4">
                <div class="media well">
                    <a
                        class="pull-left"
                        href="{{ popular_search.url }}"
                        rel="noreferrer"
                        target="_blank"
                        ><img src="{{ popular_search.book_cover_image }}"></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a
                                href="{{ url('ba') }}?url={{ popular_search.url_ }}"
                                target="_blank"
                                >{{ popular_search.title }}</a>
                            <a
                                href="{{ popular_search.url }}"
                                rel="noreferrer"
                                target="_blank"
                                ><i class="icon-external-link"></i></a>
                        </h4>
                        <p><strong>Categories & Ranks:</strong></p>
                        <ul ng-controller="amazon_best_sellers_rank">
                            {% for key, value in popular_search.amazon_best_sellers_rank %}
                                <li
                                    {% if key == 'Paid in Kindle Store' %}
                                    {% else %}
                                        ng-show="status"
                                    {% endif %}
                                    >
                                    <strong>
                                        #{{ value|number_format(0, '.', ',') }}
                                    </strong>
                                    in
                                    {{ key }}
                                    {% if key == 'Paid in Kindle Store' %}
                                        <a
                                            ng-click="status = true"
                                            ng-show="!status"
                                            >Show More</a>
                                        <a
                                            ng-click="status = false"
                                            ng-show="status"
                                            >Show Less</a>
                                    {% else %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                        <p><strong>Appearances:</strong></p>
                        <ul>
                            {% for key, value in popular_search.appearances %}
                                <li>
                                    <strong>
                                    {{ value|number_format(0, '.', ',') }}
                                    </strong>
                                    in the
                                    {{ key }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}
